<h1>Add a new photo</h1>

<form action="http://localhost:3000/create_photo">
  <div>
  <label for="the_source">
    Image URL
  </label>
  <input id="the_source" type="text" name="the_source">
  </div>

  <div>
  <label for="the_caption">
    Caption
  </label>
  <input id="the_caption" type="text" name="the_caption">
  </div>

  <button>Create Photo</button>
</form>
